golden_sets/gen/deep_nesting/004_cascading_lookup_condition_chain/adf_pipeline.json
{
  "name": "cascading_lookup_condition_chain",
  "properties": {
    "parameters": {
      "source_db": {
        "type": "String",
        "defaultValue": "SourceDB"
      },
      "target_db": {
        "type": "String",
        "defaultValue": "TargetDB"
      },
      "env": {
        "type": "String",
        "defaultValue": "dev"
      },
      "watermark_column": {
        "type": "String",
        "defaultValue": "last_modified"
      }
    },
    "variables": {
      "watermark_value": {
        "type": "String",
        "defaultValue": "1900-01-01"
      },
      "record_count": {
        "type": "String",
        "defaultValue": "0"
      }
    },
    "activities": [
      {
        "name": "Lookup_Watermark",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 2,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sql_reader_query": {
              "type": "Expression",
              "value": "@concat('SELECT MAX(', pipeline().parameters.watermark_column, ') AS max_watermark FROM ', pipeline().parameters.source_db, '.dbo.watermark_table WHERE env = ''', pipeline().parameters.env, '''')"
            }
          },
          "dataset": {
            "referenceName": "ds_sql_source",
            "type": "DatasetReference"
          },
          "firstRowOnly": true
        },
        "input_dataset_definitions": [
          {
            "type": "AzureSqlSource",
            "schema": [],
            "linkedServiceName": {
              "referenceName": "ls_sql",
              "type": "LinkedServiceReference"
            }
          }
        ]
      },
      {
        "name": "IfCondition_WatermarkExists",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Lookup_Watermark",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@not(equals(activity('Lookup_Watermark').output.firstRow.max_watermark, null))"
          },
          "ifTrueActivities": [
            {
              "name": "SetVariable_Watermark_Inner",
              "type": "SetVariable",
              "dependsOn": [],
              "typeProperties": {
                "variableName": "watermark_value",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('Lookup_Watermark').output.firstRow.max_watermark)"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "SetVariable_Watermark_Default",
              "type": "SetVariable",
              "dependsOn": [],
              "typeProperties": {
                "variableName": "watermark_value",
                "value": "1900-01-01"
              }
            }
          ]
        }
      },
      {
        "name": "Lookup_SourceRowCount",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "IfCondition_WatermarkExists",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 2,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sql_reader_query": {
              "type": "Expression",
              "value": "@concat('SELECT COUNT(*) AS row_count FROM ', pipeline().parameters.source_db, '.dbo.source_table WHERE ', pipeline().parameters.watermark_column, ' > ''', variables('watermark_value'), ''' AND env = ''', pipeline().parameters.env, '''')"
            }
          },
          "dataset": {
            "referenceName": "ds_sql_source",
            "type": "DatasetReference"
          },
          "firstRowOnly": true
        },
        "input_dataset_definitions": [
          {
            "type": "AzureSqlSource",
            "schema": [],
            "linkedServiceName": {
              "referenceName": "ls_sql",
              "type": "LinkedServiceReference"
            }
          }
        ]
      },
      {
        "name": "IfCondition_HasNewRows",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Lookup_SourceRowCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@greater(activity('Lookup_SourceRowCount').output.firstRow.row_count, 0)"
          },
          "ifTrueActivities": [
            {
              "name": "Log_NewRowsFound",
              "type": "WebActivity",
              "dependsOn": [],
              "typeProperties": {
                "url": {
                  "type": "Expression",
                  "value": "@concat('https://logging-api-', pipeline().parameters.env, '.azurewebsites.net/api/log')"
                },
                "method": "POST",
                "body": {
                  "type": "Expression",
                  "value": "@concat('{\"message\":\"New rows found: ', string(activity('Lookup_SourceRowCount').output.firstRow.row_count), '\", \"env\":\"', pipeline().parameters.env, '\"}')"
                },
                "headers": {
                  "Content-Type": "application/json"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "Log_NoNewRows",
              "type": "WebActivity",
              "dependsOn": [],
              "typeProperties": {
                "url": {
                  "type": "Expression",
                  "value": "@concat('https://logging-api-', pipeline().parameters.env, '.azurewebsites.net/api/log')"
                },
                "method": "POST",
                "body": {
                  "type": "Expression",
                  "value": "@concat('{\"message\":\"No new rows since watermark ', variables('watermark_value'), '\", \"env\":\"', pipeline().parameters.env, '\"}')"
                },
                "headers": {
                  "Content-Type": "application/json"
                }
              }
            }
          ]
        }
      },
      {
        "name": "Lookup_SchemaValidation",
        "type": "Lookup",
        "dependsOn": [
          {
            "activity": "IfCondition_HasNewRows",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 1,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sql_reader_query": {
              "type": "Expression",
              "value": "@concat('SELECT COUNT(*) AS col_count, CASE WHEN COUNT(*) >= 5 THEN 1 ELSE 0 END AS schema_valid FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_CATALOG = ''', pipeline().parameters.source_db, ''' AND TABLE_NAME = ''source_table''')"
            }
          },
          "dataset": {
            "referenceName": "ds_sql_source",
            "type": "DatasetReference"
          },
          "firstRowOnly": true
        },
        "input_dataset_definitions": [
          {
            "type": "AzureSqlSource",
            "schema": [],
            "linkedServiceName": {
              "referenceName": "ls_sql",
              "type": "LinkedServiceReference"
            }
          }
        ]
      },
      {
        "name": "IfCondition_SchemaValid",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "Lookup_SchemaValidation",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@and(equals(activity('Lookup_SchemaValidation').output.firstRow.schema_valid, 1), greater(activity('Lookup_SourceRowCount').output.firstRow.row_count, 0))"
          },
          "ifTrueActivities": [
            {
              "name": "Proceed_Copy_Flag",
              "type": "SetVariable",
              "dependsOn": [],
              "typeProperties": {
                "variableName": "record_count",
                "value": {
                  "type": "Expression",
                  "value": "@string(activity('Lookup_SourceRowCount').output.firstRow.row_count)"
                }
              }
            }
          ],
          "ifFalseActivities": [
            {
              "name": "Schema_Mismatch_Alert",
              "type": "WebActivity",
              "dependsOn": [],
              "typeProperties": {
                "url": {
                  "type": "Expression",
                  "value": "@concat('https://logging-api-', pipeline().parameters.env, '.azurewebsites.net/api/alert')"
                },
                "method": "POST",
                "body": {
                  "type": "Expression",
                  "value": "@concat('{\"alert\":\"Schema validation failed\", \"col_count\":', string(activity('Lookup_SchemaValidation').output.firstRow.col_count), ', \"env\":\"', pipeline().parameters.env, '\"}')"
                },
                "headers": {
                  "Content-Type": "application/json"
                }
              }
            }
          ]
        }
      },
      {
        "name": "SetVariable_RecordCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "IfCondition_SchemaValid",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "variableName": "record_count",
          "value": {
            "type": "Expression",
            "value": "@string(activity('Lookup_SourceRowCount').output.firstRow.row_count)"
          }
        }
      },
      {
        "name": "Copy_IncrementalData",
        "type": "Copy",
        "dependsOn": [
          {
            "activity": "SetVariable_RecordCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.01:00:00",
          "retry": 3,
          "retryIntervalInSeconds": 60
        },
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sql_reader_query": {
              "type": "Expression",
              "value": "@concat('SELECT * FROM ', pipeline().parameters.source_db, '.dbo.source_table WHERE ', pipeline().parameters.watermark_column, ' > ''', variables('watermark_value'), ''' ORDER BY ', pipeline().parameters.watermark_column)"
            }
          },
          "sink": {
            "type": "AzureDatabricksDeltaLakeSink"
          },
          "translator": {
            "type": "TabularTranslator",
            "mappings": [
              {
                "source": {
                  "name": "id"
                },
                "sink": {
                  "name": "id",
                  "type": "String"
                }
              },
              {
                "source": {
                  "name": "name"
                },
                "sink": {
                  "name": "name",
                  "type": "String"
                }
              },
              {
                "source": {
                  "name": "last_modified"
                },
                "sink": {
                  "name": "last_modified",
                  "type": "String"
                }
              },
              {
                "source": {
                  "name": "src_col"
                },
                "sink": {
                  "name": "tgt_col",
                  "type": "String"
                }
              }
            ]
          },
          "enableStaging": false
        },
        "inputs": [
          {
            "referenceName": "ds_sql_source",
            "type": "DatasetReference"
          }
        ],
        "outputs": [
          {
            "referenceName": "ds_delta_sink",
            "type": "DatasetReference"
          }
        ],
        "input_dataset_definitions": [
          {
            "type": "AzureSqlSource",
            "schema": [],
            "linkedServiceName": {
              "referenceName": "ls_sql",
              "type": "LinkedServiceReference"
            }
          }
        ],
        "output_dataset_definitions": [
          {
            "type": "AzureDatabricksDeltaLakeSink",
            "schema": [],
            "linkedServiceName": {
              "referenceName": "ls_delta",
              "type": "LinkedServiceReference"
            }
          }
        ]
      },
      {
        "name": "WebActivity_NotifyCompletion",
        "type": "WebActivity",
        "dependsOn": [
          {
            "activity": "Copy_IncrementalData",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "policy": {
          "timeout": "0.00:05:00",
          "retry": 2,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "url": {
            "type": "Expression",
            "value": "@concat('https://logging-api-', pipeline().parameters.env, '.azurewebsites.net/api/completion')"
          },
          "method": "POST",
          "body": {
            "type": "Expression",
            "value": "@concat('{\"pipeline\":\"cascading_lookup_condition_chain\", \"status\":\"completed\", \"records_copied\":', variables('record_count'), ', \"watermark_used\":\"', variables('watermark_value'), '\", \"source_db\":\"', pipeline().parameters.source_db, '\", \"target_db\":\"', pipeline().parameters.target_db, '\", \"env\":\"', pipeline().parameters.env, '\"}')"
          },
          "headers": {
            "Content-Type": "application/json"
          }
        }
      },
      {
        "name": "SetVariable_FinalWatermark",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "WebActivity_NotifyCompletion",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "variableName": "watermark_value",
          "value": {
            "type": "Expression",
            "value": "@utcNow()"
          }
        }
      }
    ]
  }
}