golden_sets/gen/activity_mix/002_nested_if_inside_foreach_expression/adf_pipeline.json
{
  "name": "nested_if_inside_foreach_expression",
  "properties": {
    "parameters": {
      "env": {
        "type": "String",
        "defaultValue": "dev"
      },
      "table_list": {
        "type": "Array",
        "defaultValue": [
          {
            "name": "customers",
            "schema": "dbo",
            "mode": "full"
          },
          {
            "name": "orders",
            "schema": "sales",
            "mode": "incremental"
          }
        ]
      },
      "processing_mode": {
        "type": "String",
        "defaultValue": "standard"
      }
    },
    "variables": {
      "current_table": {
        "type": "String",
        "defaultValue": ""
      },
      "processing_status": {
        "type": "String",
        "defaultValue": "pending"
      },
      "notebook_path": {
        "type": "String",
        "defaultValue": ""
      }
    },
    "activities": [
      {
        "name": "LookupTableMetadata",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 2,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sql_reader_query": {
              "type": "Expression",
              "value": "@concat('SELECT table_name, schema_name, load_mode, last_load_date FROM metadata.table_config WHERE environment = ''', pipeline().parameters.env, ''' AND is_active = 1')"
            }
          },
          "dataset": {
            "referenceName": "ds_sql_metadata",
            "type": "DatasetReference"
          },
          "firstRowOnly": false
        },
        "input_dataset_definitions": [
          {
            "type": "AzureSqlSource",
            "schema": [],
            "linkedServiceName": {
              "referenceName": "ls_sql",
              "type": "LinkedServiceReference"
            }
          }
        ]
      },
      {
        "name": "SetProcessingStatus",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "LookupTableMetadata",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "variableName": "processing_status",
          "value": {
            "type": "Expression",
            "value": "@if(equals(pipeline().parameters.processing_mode, 'standard'), 'ready_standard', if(equals(pipeline().parameters.processing_mode, 'express'), 'ready_express', 'ready_default'))"
          }
        }
      },
      {
        "name": "ForEachTable",
        "type": "ForEach",
        "dependsOn": [
          {
            "activity": "SetProcessingStatus",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "isSequential": false,
          "batchCount": 4,
          "items": {
            "type": "Expression",
            "value": "@activity('LookupTableMetadata').output.value"
          },
          "activities": [
            {
              "name": "CheckProcessingMode",
              "type": "IfCondition",
              "dependsOn": [],
              "typeProperties": {
                "expression": {
                  "type": "Expression",
                  "value": "@or(equals(item().load_mode, 'full'), and(equals(item().load_mode, 'incremental'), equals(pipeline().parameters.processing_mode, 'express')))"
                },
                "ifTrueActivities": [
                  {
                    "name": "SetNotebookPathTrue",
                    "type": "SetVariable",
                    "dependsOn": [],
                    "typeProperties": {
                      "variableName": "notebook_path",
                      "value": {
                        "type": "Expression",
                        "value": "@concat('/pipelines/', pipeline().parameters.env, '/', if(equals(item().load_mode, 'full'), concat('full_load/', item().schema_name, '_', item().table_name), if(equals(pipeline().parameters.processing_mode, 'express'), concat('express_incremental/', item().schema_name, '_', item().table_name), concat('standard_incremental/', item().schema_name, '_', item().table_name))))"
                      }
                    }
                  },
                  {
                    "name": "RunDatabricksNotebook",
                    "type": "DatabricksNotebook",
                    "dependsOn": [
                      {
                        "activity": "SetNotebookPathTrue",
                        "dependencyConditions": [
                          "Succeeded"
                        ]
                      }
                    ],
                    "typeProperties": {
                      "notebookPath": {
                        "type": "Expression",
                        "value": "@concat('/Shared/etl/', pipeline().parameters.env, '/', if(equals(item().load_mode, 'full'), 'full_load_processor', if(equals(pipeline().parameters.processing_mode, 'express'), 'express_processor', 'standard_processor')))"
                      },
                      "baseParameters": {
                        "table_name": {
                          "type": "Expression",
                          "value": "@concat(item().schema_name, '.', item().table_name)"
                        },
                        "environment": {
                          "type": "Expression",
                          "value": "@pipeline().parameters.env"
                        },
                        "load_mode": {
                          "type": "Expression",
                          "value": "@if(and(equals(item().load_mode, 'incremental'), equals(pipeline().parameters.processing_mode, 'express')), concat('express_', item().load_mode), item().load_mode)"
                        },
                        "output_path": {
                          "type": "Expression",
                          "value": "@concat('abfss://data@storage', pipeline().parameters.env, '.dfs.core.windows.net/', if(equals(item().load_mode, 'full'), 'full', 'incremental'), '/', item().schema_name, '/', item().table_name)"
                        },
                        "last_load_date": {
                          "type": "Expression",
                          "value": "@if(equals(item().load_mode, 'full'), '1900-01-01', item().last_load_date)"
                        }
                      }
                    },
                    "linkedServiceName": {
                      "referenceName": "ls_databricks",
                      "type": "LinkedServiceReference"
                    }
                  }
                ],
                "ifFalseActivities": [
                  {
                    "name": "SetNotebookPathFalse",
                    "type": "SetVariable",
                    "dependsOn": [],
                    "typeProperties": {
                      "variableName": "notebook_path",
                      "value": {
                        "type": "Expression",
                        "value": "@concat('/pipelines/', pipeline().parameters.env, '/skipped/', item().schema_name, '_', item().table_name, '_', if(equals(pipeline().parameters.processing_mode, 'standard'), 'std_skip', 'other_skip'))"
                      }
                    }
                  }
                ]
              }
            }
          ]
        }
      },
      {
        "name": "SetFinalStatus",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "ForEachTable",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "variableName": "processing_status",
          "value": {
            "type": "Expression",
            "value": "@if(equals(pipeline().parameters.processing_mode, 'express'), concat('completed_express_', pipeline().parameters.env), if(equals(pipeline().parameters.processing_mode, 'standard'), concat('completed_standard_', pipeline().parameters.env), concat('completed_unknown_', pipeline().parameters.env)))"
          }
        }
      }
    ]
  }
}