golden_sets/gen/pipeline_invocation/021_lookup_array_filter_nested_if_copy/adf_pipeline.json
{
  "name": "lookup_array_filter_nested_if_copy",
  "properties": {
    "parameters": {
      "env": {
        "type": "String",
        "defaultValue": "prod"
      },
      "filter_column": {
        "type": "String",
        "defaultValue": "status"
      },
      "filter_value": {
        "type": "String",
        "defaultValue": "active"
      },
      "batch_id": {
        "type": "String",
        "defaultValue": "B001"
      }
    },
    "variables": {
      "filtered_records": {
        "type": "Array",
        "defaultValue": []
      },
      "record_count": {
        "type": "String",
        "defaultValue": "0"
      },
      "validation_flag": {
        "type": "String",
        "defaultValue": "false"
      }
    },
    "activities": [
      {
        "name": "LookupSourceRecords",
        "type": "Lookup",
        "dependsOn": [],
        "policy": {
          "timeout": "0.00:10:00",
          "retry": 2,
          "retryIntervalInSeconds": 30
        },
        "typeProperties": {
          "source": {
            "type": "AzureSqlSource",
            "sql_reader_query": {
              "type": "Expression",
              "value": "@concat('SELECT id, ', pipeline().parameters.filter_column, ', batch_id, created_date, record_type, is_valid FROM dbo.source_records WHERE batch_id = ''', pipeline().parameters.batch_id, ''' AND environment = ''', pipeline().parameters.env, '''')"
            }
          },
          "dataset": {
            "referenceName": "ds_sql_source",
            "type": "DatasetReference"
          },
          "firstRowOnly": false
        },
        "input_dataset_definitions": [
          {
            "type": "AzureSqlSource",
            "schema": [],
            "linkedServiceName": {
              "referenceName": "ls_sql",
              "type": "LinkedServiceReference"
            }
          }
        ]
      },
      {
        "name": "SetFilteredRecords",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "LookupSourceRecords",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "variableName": "filtered_records",
          "value": {
            "type": "Expression",
            "value": "@filter(filter(activity('LookupSourceRecords').output.value, item => equals(string(item[pipeline().parameters.filter_column]), pipeline().parameters.filter_value)), item => and(not(equals(item.is_valid, null)), equals(bool(item.is_valid), true)))"
          }
        }
      },
      {
        "name": "SetRecordCount",
        "type": "SetVariable",
        "dependsOn": [
          {
            "activity": "SetFilteredRecords",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "variableName": "record_count",
          "value": {
            "type": "Expression",
            "value": "@string(length(variables('filtered_records')))"
          }
        }
      },
      {
        "name": "CheckRecordsExist",
        "type": "IfCondition",
        "dependsOn": [
          {
            "activity": "SetRecordCount",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ],
        "typeProperties": {
          "expression": {
            "type": "Expression",
            "value": "@greater(int(variables('record_count')), 0)"
          },
          "ifTrueActivities": [
            {
              "name": "CheckEnvironmentValid",
              "type": "IfCondition",
              "dependsOn": [],
              "typeProperties": {
                "expression": {
                  "type": "Expression",
                  "value": "@or(equals(pipeline().parameters.env, 'prod'), equals(pipeline().parameters.env, 'staging'))"
                },
                "ifTrueActivities": [
                  {
                    "name": "CheckBatchIdNotEmpty",
                    "type": "IfCondition",
                    "dependsOn": [],
                    "typeProperties": {
                      "expression": {
                        "type": "Expression",
                        "value": "@and(not(equals(pipeline().parameters.batch_id, '')), greater(length(pipeline().parameters.batch_id), 0))"
                      },
                      "ifTrueActivities": [
                        {
                          "name": "CopyFilteredRecords",
                          "type": "Copy",
                          "dependsOn": [],
                          "policy": {
                            "timeout": "0.01:00:00",
                            "retry": 3,
                            "retryIntervalInSeconds": 60
                          },
                          "typeProperties": {
                            "source": {
                              "type": "AzureSqlSource",
                              "sql_reader_query": {
                                "type": "Expression",
                                "value": "@concat('SELECT id, ', pipeline().parameters.filter_column, ', batch_id, created_date, record_type, is_valid FROM dbo.source_records WHERE batch_id = ''', pipeline().parameters.batch_id, ''' AND environment = ''', pipeline().parameters.env, ''' AND ', pipeline().parameters.filter_column, ' = ''', pipeline().parameters.filter_value, ''' AND is_valid = 1')"
                              }
                            },
                            "sink": {
                              "type": "AzureDatabricksDeltaLakeSink"
                            },
                            "translator": {
                              "type": "TabularTranslator",
                              "mappings": [
                                {
                                  "source": {
                                    "name": "id"
                                  },
                                  "sink": {
                                    "name": "record_id",
                                    "type": "String"
                                  }
                                },
                                {
                                  "source": {
                                    "name": "batch_id"
                                  },
                                  "sink": {
                                    "name": "batch_id",
                                    "type": "String"
                                  }
                                },
                                {
                                  "source": {
                                    "name": "created_date"
                                  },
                                  "sink": {
                                    "name": "created_date",
                                    "type": "String"
                                  }
                                },
                                {
                                  "source": {
                                    "name": "record_type"
                                  },
                                  "sink": {
                                    "name": "record_type",
                                    "type": "String"
                                  }
                                },
                                {
                                  "source": {
                                    "name": "is_valid"
                                  },
                                  "sink": {
                                    "name": "is_valid",
                                    "type": "String"
                                  }
                                },
                                {
                                  "source": {
                                    "name": "src_col"
                                  },
                                  "sink": {
                                    "name": "tgt_col",
                                    "type": "String"
                                  }
                                }
                              ]
                            },
                            "enableStaging": false
                          },
                          "inputs": [
                            {
                              "referenceName": "ds_sql_source",
                              "type": "DatasetReference"
                            }
                          ],
                          "outputs": [
                            {
                              "referenceName": "ds_delta_sink",
                              "type": "DatasetReference"
                            }
                          ],
                          "input_dataset_definitions": [
                            {
                              "type": "AzureSqlSource",
                              "schema": [],
                              "linkedServiceName": {
                                "referenceName": "ls_sql",
                                "type": "LinkedServiceReference"
                              }
                            }
                          ],
                          "output_dataset_definitions": [
                            {
                              "type": "AzureDatabricksDeltaLakeSink",
                              "schema": [],
                              "linkedServiceName": {
                                "referenceName": "ls_delta",
                                "type": "LinkedServiceReference"
                              }
                            }
                          ]
                        },
                        {
                          "name": "NotifySuccess",
                          "type": "WebActivity",
                          "dependsOn": [
                            {
                              "activity": "CopyFilteredRecords",
                              "dependencyConditions": [
                                "Succeeded"
                              ]
                            }
                          ],
                          "policy": {
                            "timeout": "0.00:05:00",
                            "retry": 1,
                            "retryIntervalInSeconds": 30
                          },
                          "typeProperties": {
                            "url": {
                              "type": "Expression",
                              "value": "@concat('https://hooks.example.com/api/notify/', pipeline().parameters.env)"
                            },
                            "method": "POST",
                            "headers": {
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "type": "Expression",
                              "value": "@json(concat('{\"pipeline_name\":\"lookup_array_filter_nested_if_copy\",\"batch_id\":\"', pipeline().parameters.batch_id, '\",\"env\":\"', pipeline().parameters.env, '\",\"records_copied\":', variables('record_count'), ',\"filter_column\":\"', pipeline().parameters.filter_column, '\",\"filter_value\":\"', pipeline().parameters.filter_value, '\",\"status\":\"SUCCESS\"}'))"
                            }
                          }
                        }
                      ],
                      "ifFalseActivities": []
                    }
                  }
                ],
                "ifFalseActivities": []
              }
            }
          ],
          "ifFalseActivities": []
        }
      }
    ]
  }
}